<template>
    <div class="about">
        <p>hello from about page</p>
    </div>
</template>

<script>
    export default {
        name: "About"
    }
</script>

<style scoped>
    .about {
        border: 2px solid #ccc;
        border-radius: 10px;
        width: 95%;
        margin: 50px auto;
        background-color: #e9f8f1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    }

</style>