<template>
    <div>

        <router-view></router-view>

    </div>
</template>

<script>

    import NavBar from "./NavBar";
    import Footer from "./Footer";

    export default {
        props: {
            source: String,
        },
        data: () => ({}),
        created() {

        },
        components: {NavBar},
    }
</script>

<style scoped>

</style>