<template>
    <div class="books">
        <h2>Список книг</h2>
        <hr>
        <button class="btn-link" :disabled="!prevPage" @click="fetchBooks(prevPage)">&lt;</button>
        <button class="btn-link" :disabled="!nextPage" @click="fetchBooks(nextPage)">&gt;</button>
        <hr>
        <!--        <div class="post" v-for="book in allBooks" :key="book.id">-->
        <!--            <p><b>id - </b>{{book.id}}</p>-->
        <!--            <h3>{{book.title}}</h3>-->
        <!--            <p>{{book.description}}</p>-->
        <!--            <p><b>ISBN : </b>{{book.isbn}}</p>-->
        <!--            <button @click="removeBook(book)">delete</button>-->
        <!--            <hr>-->

        <table class="post" v-for="book in allBooks" :key="book.id">
            <tr>
                <th>id</th>
                <th>title</th>
                <th>isbn</th>
                <th>description</th>
                <th>0</th>
                <th>is_avalible</th>
            </tr> <!--ряд с ячейками заголовков-->
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td>{{book.isbn}}</td>
                <td>{{book.description}}</td>
                <td>
                    <button class="btn-link" @click="removeBook(book)">delete</button>
                </td>
                <td>0</td>
            </tr> <!--ряд с ячейками тела таблицы-->
        </table>
    </div>
    <!--    </div>-->
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "Books",
        computed: mapGetters(["allBooks", 'prevPage', "nextPage"]),
        methods: mapActions(["fetchBooks", "removeBook"]),
        async mounted() {
            this.fetchBooks();
        }
    }
</script>

<style scoped>
    .books {
        border: 2px solid #ccc;
        border-radius: 10px;
        width: 90%;
        margin: 50px auto;
        background-color: #f8f8f5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    }

    h2 {
        color: #42b983;
    }

    table {
        border-spacing: 0px 0px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        width: 90%;
        margin: auto auto 20px;
    }

    th {
        padding: 10px 20px;
        background: #42b983;
        color: #fffffc;
        border: 1px solid;
        font-size: 0.9em;
    }

    td {
        vertical-align: middle;
        padding: 10px;
        font-size: 14px;
        text-align: center;
        border: 1px solid #56433D;

    }


</style>