<template>
  <div class="form">
    <h2>Создать запись</h2>
    <form @submit.prevent="submit">

      <input type="text"
             placeholder="title"
             v-model="title">
      <br>
      <input type="text"
             placeholder="description"
             v-model="description">
      <br>
      <input type="text"
             placeholder="isbn"
             v-model="isbn">
      <br>
      <button class="btn-link"
          type="submit">
        Create Post
      </button>
      <br>
    </form>

  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  data() {
    return {
      title: "",
      description: "",
      isbn: "",
    };
  },
  methods: {
    ...mapActions(["createBook"]),
    submit() {
      this.createBook({
        // id: Date.now(),
        title: this.title,
        description: this.description,
        isbn: this.isbn,
      });
      this.title = this.description = this.isbn = "";
    }
  }
};
</script>


<style scoped>
.form {
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 90%;
  margin: 50px auto;
  background-color: #f8f8f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
}

input {
  border: 3px solid #ccc;
  /*border-radius: 10px;*/
  width: 80%;
  margin: 5px auto;
  /*!*display: block;*!*/
  /*width: 95%;*/
  /*border: 1px solid #ccc;*/
  border-radius: 9px;
  /*padding: 2px;*/
  margin-bottom: 10px;
}

h2 {
    color: #42b983;
}
</style>

