<template>

    <div class="filters">
        <h2>Фильтры</h2>
        <hr>
        <button class="btn-link"
                @click="addFilter"
        >Создать фильтр
        </button>
        <p>Примеры фильтров. Подробнее по ссылке <a href="https://docs.djangoproject.com/en/3.0/ref/models/querysets/">querysets</a>
        </p>
        <table>
            <tr>
                <th>key</th>
                <th>value</th>
                <th>id</th>
                <th></th>
            </tr> <!--ряд с ячейками заголовков-->
            <tr v-for="filter in filters" :bind="id">
                <td><input v-model="filter.key"></td>
                <td><input v-model="filter.value"></td>
                <td><input v-model="filter.id"></td>
                <td>
                    <button @click="dropFilter(filter)">-</button>
                </td>
            </tr> <!--ряд с ячейками тела таблицы-->
        </table>
        <button class="btn-link"
                @click="filterBooks"
        >Отправить GET с параметрами
        </button>
    </div>

</template>

<script>
    import {mapActions} from "vuex";

    export default {
        name: "Filters",
        data() {
            return {
                filters: [{
                    id: '1',
                    key: 'title',
                    value: '',
                },
                    {
                        id: '2',
                        key: 'title__icontains',
                        value: '',
                    },
                    {
                        id: '3',
                        key: 'title__startswith',
                        value: '',
                    },
                    {
                        id: '4',
                        key: 'title__endswith',
                        value: '',
                    },]
            }
        },
        methods: {
            ...mapActions(["fetchBooks"]),
            addFilter() {
                this.filters.push({
                    id: Date.now()
                })
            },
            dropFilter(filter) {
                this.filters = this.filters.filter(f => f.id !== filter.id)
            },
            filterBooks() {
                const filledFilters = this.filters.filter(({key, value}) => key && value)
                const url = new URL('http://127.0.0.1:8000/library/book/?format=json')
                filledFilters.forEach(({key, value}) => url.searchParams.append(key, value))
                this.fetchBooks(url)

            },
        }
    }
</script>
<style scoped>
    .filters {
        border: 2px solid #ccc;
        border-radius: 10px;
        width: 90%;
        margin: 50px auto;
        background-color: #f8f8f5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    }

    li {
        color: #3ad900;
    }

    h2 {
        color: #42b983;
    }

    table {
        margin: 10px auto;

    }
</style>