<template>
    <div class="librarywrapper">
        <h2> Это компонент LibraryWrapper.Vue</h2>
        <CreateBook></CreateBook>
        <BooksList></BooksList>
        <Filters></Filters>
    </div>

</template>

<script>

    import BooksList from "./BooksList";
    import Filters from "./Filters";
    import CreateBook from "./CreateBook";

    export default {
        name: "LibraryWrapper",
        components: {BooksList, CreateBook, Filters},
    }
</script>

<style scoped>
    .librarywrapper {
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin: 40px auto;
        width: 95%;
        border: 3px solid #ccc;
        border-radius: 10px;
        background-color: #e9f8f1;
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */

    }
        h2 {
        color: #42b983;
    }
</style>